.fa {
    padding: 2px;
    font-size: 40px;
    width: 50px;
    
    text-decoration: none;
    margin: 2px 2px;
    
  }
  

  a:hover{

background-color: rgb(238, 237, 237);

  }

  div.background {
    background: url(img/webdeve.jpg) repeat;
    border: 2px solid black;
    opacity: 0.9;
  }
  
  div.transbox {
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
  }
  
  div.transbox p {
    margin: 4%;
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-size: 20px;
  }